
.content {
    margin-left: 40px;
}

#bg {
  background: url('https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  width:100%;
  background-color: #EAE7DC;
  background-repeat: no-repeat;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #bg{
        background: url('https://images.pexels.com/photos/3849167/pexels-photo-3849167.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
        background-size: cover;
        width:100%;
        background-color: #EAE7DC;
        background-repeat: no-repeat;
    }
}

#bg2 {
    background: url('https://images.pexels.com/photos/399161/pexels-photo-399161.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
}

h1 {
    font-family: 'Abril Fatface';
}

div.jumbotron {
   background: rgb(255, 255, 255); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.4);
}


nav a:hover{
  background-color: #E85A4F;
  color: black;
}

nav a.active{
    background-color: #E85A4F
    color: black;
}

nav .icon{
    display: none;
}

